<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/style.min.css}">
  </head>
  <body>
    <div class="page" th:switch="${users}">
      <svg width="233" height="233" viewBox="0 0 233 233" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="116.5" cy="116.5" r="110" stroke="#F56032" stroke-width="13" stroke-dasharray="2 2" />
      </svg>

      <div class="circle"></div>

      <div class="page__container">
        <h2 class="page__title">Users are here</h2>

        <div class="page__users" th:case="*">
          <div class="page__body" th:each="user : ${users}">
            <div class="page__row">
              <p class="page__cell">Name</p>
              <p class="page__cell" th:text="${user.name}"></p>
            </div>
            <div class="page__row">
              <p class="page__cell">Email</p>
              <p class="page__cell" th:text="${user.email}"></p>
            </div>
            <div class="page__row">
              <p class="page__cell">Edit</p>
              <p class="page__cell"><a th:href="@{/edit/{id}(id=${user.id})}">Edit</a></p>
            </div>
            <div class="page__row">
              <p class="page__cell">Delete</p>
              <p class="page__cell"><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a></p>
            </div>
          </div>
        </div>

        <a href="./signup" class="page__button">Add a new user +</a>
      </div>

    </div>
  </body>
</html>
